@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

:root {
    --primary: #fe2c55;
    --black: #000;
    --white: #fff;
    --default-layout-width-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 24px;
    --text-color: #333;
}
html {
    font-size: 62.5%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
}
button,
input,
[tabindex] {
    outline: none;
    border: none;
}
a[href] {
    text-decoration: none;
    color: var(--text-color);
}
// custom tippy
body {
    .tippy-box {
        border-radius: 8px;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 2.2rem;
        border-color: rgba(84, 84, 84, 0.92);
    }
    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }
    .tippy-content {
        padding: 8px 9px;
    }
}
